<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书管理系统--出版社管理</title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
</head>
<body>
<div class="breadcrumbs">
    <a href="http://127.0.0.1:8000/book/">book</a>
    <a href="http://127.0.0.1:8000/book/author.html">/publisher</a>

</div>
<form action="/book/publisher.html/" method="post">
    <fieldset>
        名字：<input name="pub_name" id="pub_name" type="text"><p>
        地址：<input name="address" id="address" type="text"><p>
        城市：<input name="city" id="city" type="text"><p>
        省份：<input name="province" id="province" type="text"><p>
        国家：<input name="country" id="country" type="text"><p>
        网址：<input name="website" id="website" type="text"><p>
        <input value="add"  onclick="return check_befor_submit()" type="submit">
    </fieldset>

</form>
<table cellspacing="0" border="solid 1px " style="border-color: beige" >
    <tr style="color: red">
        <td>出版社名字</td>
        <td>出版社地址</td>
        <td>出版社所在的城市</td>
        <td>出版社所在的省份</td>
        <td>出版社所在的国家</td>
        <td>出版社的网站</td>
    </tr>
    {% for line in publisher_info  %}
        <tr style="color: green">
            <td><div >{{ line.name }}</div></td>
            <td><div >{{ line.address }}</div></td>
            <td><div >{{ line.city }}</div></td>
            <td><div >{{ line.state_province }}</div></td>
            <td><div >{{ line.country }}</div></td>
            <td><div >{{ line.website }}</div></td>
        </tr>
    {% endfor %}
</table>
<script src="/static/js/jquery-2.2.3.js"></script>
<script src="/static/js/table_edit.js"></script>
</body>
</html>